<p>
	Party Details:
</p>
<div style="padding-left: 40px;">
	<table class="verticalFormClass">
		<tbody>
			<tr *ngIf="!isNewSubscription">
				<td><label for="sub-no">Subscription No.</label></td>
				<td width="450px;">{{sub.subscriptionId}}</td>
			</tr>
			<tr>
				<td><label for="full-name">Full Name</label></td>
				<td width="450px;"><input id="full-name"  type="text" [(ngModel)]="sub.fullName"></td>
			</tr>
			<tr>
				<td><label for="add-line1">Address Line1:</label></td>
				<td><input id="add-line1"  type="text" [(ngModel)]="sub.addressLine1"></td>
			</tr>
			<tr>
				<td><label for="add-line2">Address Line2:</label></td>
				<td><input id="add-line2"  type="text" [(ngModel)]="sub.addressLine2"></td>
			</tr>
			<tr>
				<td><label for="add-line3">Address Line3:</label></td>
				<td><input id="add-line3"  type="text" [(ngModel)]="sub.addressLine3"></td>
			</tr>
			<tr>
				<td><label for="city">City</label></td>
				<td><input id="city"  type="text" [(ngModel)]="sub.city"></td>
			</tr>
			<tr>
				<td><label for="pincode">State</label></td>
				<td><input id="pincode"  type="text" [(ngModel)]="sub.state"></td>
			</tr>			
		    
		    <tr>
				<td><label for="pincode">Pincode</label></td>
				<td><input id="pincode"  type="text" [(ngModel)]="sub.pincode"></td>
			</tr>			        		
		    
		    <tr>
		    	<td></td>
			    <td style="float: right; padding-top: 11px;">
			    	<div>
						<button type="submit" (click)="viewChangedEvent({actionType: 'dashboard'});" style="margin-right: 21px;">Cancel</button>
						<button *ngIf="!isNewSubscription" type="submit" (click)="submitActionPerformed();">Submit</button>
						<button *ngIf="isNewSubscription" type="submit" (click)="createActionPerformed();">Create</button>			    	
			    	</div>
				</td>   
			</tr>		 
		</tbody>
	</table>
</div>

<div id="myModal" class="modal" *ngIf="showPopup">
  <!-- Modal content -->
  	<div class="modal-content">
	    <div>
		    <span class="close" (click)="showPopup=false;">&times;</span>
		    <p style="font-size: 14px; font-weight: bold;">Validation Errors: </p>
	    </div>
	    <div class="defaultText" *ngFor="let message of errorOnPage;">
	    	{{message}}
	    </div>
	    <div style="display: inline-block; width: 100%;">
	    	<button (click)="showPopup=false;" style="float: right;">OK</button>
	    </div>
	</div>
</div>